@import url(https://fonts.googleapis.com/css?family=Orbitron:900);
body {
  background-image:  url("http://piplupqueen.github.io/copy.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Orbitron;
  font-size: 25px;
  color: white;
}

@keyframes example {
  0% {
    font-size: 0em;
    margin-left: 0em;
    margin-top: 0em;
    transform: rotate(360deg);
    color: blue
  }
  50% {
    font-size: 2em;
    margin-left: 7.3em;
    margin-top: 6em;
    transform: rotate(0deg);
    color: purple
  }
  75% {
    font-size: 2em;
    margin-left: 7.3em;
    margin-top: 6em;
    color: blue;
  }
  80% {
    transform: rotate(360deg);
    margin-left: 7.3em;
    margin-top: 6em;
  }
  100% {
    transform: rotate(0deg);
    margin-left: 7.3em;
    margin-top: 6em;
  }
}

#start {
  animation-name: example;
  animation-duration: 9s;
  animation-iteration-count: 1;
  margin-left: 7.3em;
  margin-top: 6em;
  font-size: 2em;
  position: absolute;
  z-index: 1;
}

#fire {
  margin-left: 11em;
  opacity: 0.4;
  margin-top: -6em;
  height: 500px;
  animation-name: fadeIn;
  animation-duration: 40s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

#clickme {
  margin-left: 19em;
  height: 4em;
  margin-top: 0em;
  position:absolute;
  animation-name: fadeIn;
  animation-duration: 120s;
}

@keyframes rawr {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: rawr;
}

@keyframes bounce {
  0% {
    margin-left: 0em;
  }
  10% {
    transform: translateY(-2em);
    margin-left: 10em;
  }
  
  20% {
    transform: translateY(0em);
    margin-left: 20em;
  }
  
  40% {
    transform: translateY(2em);
    margin-left: 30em;
    transform: scaleX(-1);
  }
  
  60% {
    transform: translateY(0em);
    margin-left: 20em;
    transform: scaleX(-1);
  }
  
  80% {
    transform: translateY(2em);
    margin-left: 10em;
    transform: scaleX(-1);
  }
  100% {
    transform: translateY(0em);
    margin-left: 0em;
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

#shrek {
  transform: rotate(0deg);
  margin-left: 0px;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}