@import url(https://fonts.googleapis.com/css?family=Orbitron:900);
#memegame {
  background-image:  url("http://piplupqueen.github.io/copy.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Orbitron;
  font-size: 25px;
  color: white;
}

@keyframes example {
  0% {
    font-size: 0em;
    margin-left: 0em;
    margin-top: 0em;
    transform: rotate(360deg);
    color: blue
  }
  50% {
    font-size: 2em;
    margin-left: 12em;
    margin-top: 6em;
    transform: rotate(0deg);
    color: purple
  }
  75% {
    font-size: 2em;
    margin-left: 12em;
    margin-top: 6em;
    color: blue;
  }
  80% {
    transform: rotate(360deg);
    margin-left: 12em;
    margin-top: 6em;
  }
  100% {
    transform: rotate(0deg);
    margin-left: 12em;
    margin-top: 6em;
  }
}

h1:hover {
    color: pink;
}

#start {
  animation-name: example;
  animation-duration: 9s;
  animation-iteration-count: 1;
  margin-left: 12em;
  margin-top: 6em;
  font-size: 2em;
  position: absolute;
  z-index: 1;

}

#fire {
  margin-left: 20em;
  opacity: 0.4;
  margin-top: -6em;
  height: 500px;
  animation-name: fadeIn;
  animation-duration: 40s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

#clickme {
  margin-left: 27em;
  height: 4em;
  margin-top: 0em;
  position:absolute;
  animation-name: rawr;
  animation-duration: 400s;
}

@keyframes rawr {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: rawr;
}

@keyframes bounce {
  0% {
    margin-left: 0em;
  }
  10% {
    transform: translateY(-2em);
    margin-left: 15em;
  }
  
  20% {
    transform: translateY(0em);
    margin-left: 25em;
  }
  
  40% {
    transform: translateY(2em);
    margin-left: 45em;
    transform: scaleX(-1);
  }
  
  60% {
    transform: translateY(0em);
    margin-left: 25em;
    transform: scaleX(-1);
  }
  
  80% {
    transform: translateY(-8em);
    margin-left: 15em;
    transform: scaleX(-1);
  }
  100% {
    transform: translateY(0em);
    margin-left: 0em;
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

#shrek {
  transform: rotate(0deg);
  margin-left: 0px;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.crate {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  top: -5%;
  left: -132%;
  display:none;

}


.doge {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 19%;
    left: -98%;
     display:none;

}



#gift {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
top: 53%;
    left: 70%;
}


.crate2 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge2 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift2 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: 5%;
  left: 70%;
}


.crate3 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge3 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift3 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: 30%;
  left: 20%;
}

.crate4 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge4 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift4 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: 39%;
  left: 78%;
}

.crate5 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge5 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift5 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: 0%;
  left: 0%;
}

.crate6 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge6 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift6 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: 47%;
  left: -2%;
}

.crate7 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge7 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift7 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: -10%;
  left: 20%;
}

.crate8 {
  background-image:  url("http://piplupqueen.github.io/one-does-not-simply-resist-chaika-crate_o_3306753.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;


}


.doge8 {
background-image: url("http://vignette2.wikia.nocookie.net/cytus/images/0/05/Doge.png/revision/latest?cb=20150228070252");
background-size:cover;
    width: 127px;
    height: 178px;
    top: 30%;
    left: 29%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display:none;

}

#gift8 {
  width: 360px;
  height: 360px;
  position: absolute;
  display:none;
  top: 10%;
  left: 45%;
}

.troll {
  background-image: url("http://vignette2.wikia.nocookie.net/roblox/images/3/38/Transparent_Troll_Face.png/revision/latest?cb=20120713214853");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 209px;
  height: 173px;
  top:0%;
  left:0%;
  display:none;
}

.troll2 {
  background-image: url("http://vignette2.wikia.nocookie.net/roblox/images/3/38/Transparent_Troll_Face.png/revision/latest?cb=20120713214853");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 209px;
  height: 173px;
  top: 10%;
  left: 45%;
  display:none;
}

.troll3 {
  background-image: url("http://vignette2.wikia.nocookie.net/roblox/images/3/38/Transparent_Troll_Face.png/revision/latest?cb=20120713214853");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 209px;
  height: 173px;
  top: 47%;
  left: -2%;
  display:none;
}

.troll4 {
  background-image: url("http://vignette2.wikia.nocookie.net/roblox/images/3/38/Transparent_Troll_Face.png/revision/latest?cb=20120713214853");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 209px;
  height: 173px;
  top: 39%;
  left: 78%;
  display:none;
}
